// app/styles/_fonts.scss
@font-face {
    font-family: 'ABC Favorit Regular';
    src: url('./fonts/ABCFavoritMono-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }