$mobile: 600px;
$tablet: 900px;
$desktop: 1200px;


@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }
  @else if $breakpoint == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  }
  @else if $breakpoint == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}
